<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
      
      <membership>
        <providers>
          <remove name="AspNetSqlMembershipProvider" />
          <add name="AspNetSqlMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider,&#xD;&#xA;           System.Web, Version=2.0.0.0, Culture=neutral,                                &#xD;&#xA;           PublicKeyToken=b03f5f7f11d50a3a"


            connectionStringName="LocalSQLServer"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            applicationName="/"
            requiresUniqueEmail="false"
            passwordFormat="Hashed"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="3"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression="" />
        </providers>
      </membership>
    </system.web>
  
  <connectionStrings>

  </connectionStrings>
</configuration>
